####
#### StayInTarkov Build Workflow
####  

name: SIT Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    types: [opened, edited, review_requested, closed]

jobs:
  
  build:

    strategy:
      matrix:
        configuration: [Release, Debug]

    runs-on: windows-latest  # For a list of available runner types, refer to

    env:
      SolutionName: StayInTarkov                              
      CSProj: Source/StayInTarkov.csproj               

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    # Add MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2

    # Restore all projects
    - name: dotnet Restore
      run: dotnet restore

    # Publish the Launcher as Self-Contained Single-File
    - name: dotnet Publish
      run: |
        mkdir ${{ env.SolutionName }}-${{ matrix.configuration }}
        dotnet build ${{ env.CSProj }} -c ${{ matrix.configuration }} -o ${{ env.SolutionName }}-${{ matrix.configuration }}
        tar -cf ${{ env.SolutionName }}-${{ matrix.configuration }}.zip ${{ env.SolutionName }}-${{ matrix.configuration }}
    
    # Upload artifact unless its merge to master
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      if: github.event_name == 'pull_request' 
      with:
        name: StayInTarkov-Build-${{ matrix.configuration }}
        path: ${{ env.SolutionName }}-${{ matrix.configuration }}\
        if-no-files-found: error

    # Create release from the compressed file
    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged
      with:
        draft: true
        generate_release_notes: true
        files: ${{ env.SolutionName }}.zip
        tag_name: release
